{% extends base.html %}


{% block content %}


<h1> Sign Up </h1>
<form>
    <label for="user_name">User Name: </label>
    <input id="user_name" type="text" name="your_name" maxlength="100" required>
   
    <label for="email"> Email: </label>
    <input id="email" type="text" name="email" maxlength="100" required>

    <label for="password"> Password: </label>
    <input id="password" type="text" name="password" maxlength="100" required>
    
    <label for="confirm_password"> Confirm Password: </label>
    <input id="confirm_password" type="text" name="confirm_password" maxlength="100" required>

    <label for="first_name"> First Name: </label>
    <input id="first_name" type="text" name="first_name" maxlength="100" required>
    
    <label for="last_name"> Last Name: </label>
    <input id="last_name" type="text" name="last_name" maxlength="100" required>

    <label for="phone-numner"> Phone Number: </label>
    <input id="phone_number" type="text" name="phone_number" maxlength="100" required>

    <button id="register">Click to Submit</button>
</form>

{% endblock  %}
