body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

img {
  border-radius: 50%;
  width:100%;
  max-width:300px;
}

section{
  padding: 20px;
  align-content: center;
  
}

.info{
  padding: 10px;
}