<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Pet Pal</title>
</head>
<body>
    <header class="base-header">
            <div id="login-area">
                    {% if request.user.is_authenticated %}
                      <p id="login-name">Welcome, {{request.user}}! | <a href="{% url 'home' %}">Home</a> | <a class="washed-blue" href="/update">Update Profile</a> | <a class="washed-blue" href="/accounts/logout">Logout</a></p>
                    {% else %}
                      <p><a class="washed-blue" href="/accounts/login">Login</a> | <a class="washed-blue" href="/accounts/register">Register</a></p>
                    {% endif %}
            </div>      
    </header>
    {% block content %}
    
    {% endblock %}
</body>
</html>