<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="{% static 'main.js' %}" defer></script>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script>
    $(document).ready(function() {
    $('.datepicker').datepicker({
            format:'YYYY-MM-DD HH:mm:ss'
        });

    });
  </script>





<title>Critter Sitter</title>
</head>
<body>
    <div class="logo">
      <img src="{%static './crittersitter_logo.png' %}">
    </div>

    <header class="base-header">
                    
                    {% if request.user.is_authenticated %}
                    <div class="login-area">
                      <p>Welcome, {{request.user}}! | <a href="{% url 'home' %}" class="header-link">Home</a> | <a href="{% url 'profile' request.user.id %}">Profile</a> | <a href="/accounts/logout">Logout</a></p>
                    </div>
                      {% else %}
                    <div class="login-area">
                      <p><a href="/accounts/login">Login</a> | <a href="/accounts/register">Register</a></p>
                    </div> 
                      {% endif %}     
    </header>
    {% include 'messages.html' %}
    {% block content %}
    
    {% endblock %}
</body>
</html>