{% extends 'base.html' %}

{% block content %}
<h1>Petpal Dashboard</h1>
<!-- <button type="button" class="button-lg">Pet Pal</button> -->

<h2>My Pets</h2>

<section>
{% if my_pet_list %}
    {% for pet in my_pet_list %}
    <div class="pet-display">
        <img src="{{pet.profile_Image.url}}">
        <p><a href="{{pet.get_absolute_url}}" class="pet-display-link"><strong>{{ pet.name }}</strong></a>
    </div>
    {% endfor %}
{% else %}
    <p>You have no pets.</p>
{% endif %}
    <form>
        <a href="{% url 'add-pet' %}" class="AddPetButton" type="button">Add a Pet</a>
    </form>
</section>



{% endblock %} 