{% extends 'base.html' %}

{% block content %}
<h1>Petpal Dashboard</h1>
<!-- <button type="button" class="button-lg">Pet Pal</button> -->

<div<h2>My Pets</h2>

<section>
{% if my_pet_list %}
    {% for pet in my_pet_list %}

    <img src="{{pet.profile_image.url}}">
    <p><a href="{{pet.get_absolute_url}}"><strong>{{ pet.name }}</strong></a>
    {% endfor %}
{% else %}
    <p>You are a lonely bastard.</p>
{% endif %}
</section>


<div class="container">
    <div class="row">
      <div class="col">1st column</div>
      <div class="col">2nd column</div>
    </div>
</div>


{% endblock %} 