{% extends 'base.html' %}

{% block content %}

<h1>Pet Profile: {{ pet.name }}</h1>
<!-- <button type="button" class="button-lg">Pet Pal</button> -->
<section>
<img src="{{pet.profile_Image.url}}">

<div class="info">
<h2>Owner</h2>
<p>{{ pet.owner }}</p>
</div>

<div class="info">
<h2>About Me</h2>
<p>{{ pet.about_Me }}</p>
</div>

{% if pet.vet_Info %}
<div class="info">
<h2>Vet Info</h2>
<p>{{ pet.vet_Info }}</p>
</div>
{% endif %}

<div class="info">
<h2>Emergency Contact</h2>
<p>{{ pet.emergency_Contact }}</p>
</div>

<a href="{% url 'add-checklist' pet.id %}"> Add a checklist! </a>
</section>

<h2>Checklist</h2>

{% for task in all_tasks %}
    {% if task.checklist_id.pet_id == pet %}
        <input type="checkbox"> {{ task.description }} for visit on {{ task.checklist_id.visits.due_date_on }}<br>
        <p></p>
    {% endif %}
{% endfor %}

{% endblock %}