{% extends 'base.html' %}

{% block content %}
<h1>Pet Profile</h1>
<!-- <button type="button" class="button-lg">Pet Pal</button> -->
<h2>{{ pet.name }}</h2>
<section>

<img src="{{pet.profile_Image.url}}">



<div class="info">
<h3>Owner</h3>
<p>{{ pet.owner }}</p>
</div>

<div class="info">
<h3>About Me</h3>
<p>{{ pet.about_Me }}</p>
</div>

{% if pet.vet_Info %}
<div class="info">
<h3>Vet Info</h3>
<p>{{ pet.vet_Info }}</p>
</div>
{% endif %}

<div class="info">
<h3>Emergency Contact</h3>
<p>{{ pet.emergency_Contact }}</p>
</div>
</section>



{% endblock %}